.DS_Store
.idea
.next
.obsidian
.now
.idea
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
node_modules
dist
build
sandbox
stash
coverage
stats
*.log
packages/**/src/icons/*.js
packages/**/src/icons/*.ts
