.DS_Store
.idea
.next
.obsidian
.now
.idea
node_modules
dist
build
sandbox
stash
coverage
stats
*.log
outlined
packages/**/src/icons/*.js
packages/**/src/icons/*.ts
packages/**/src/icons/*.tsx
packages/**/src/aliases.ts
packages/**/LICENSE
categories.json
tags.json
