@keyframes load {
  to {
    background-position: 200% 0;
  }
}

.skeleton {
  --block: rgba(0, 0, 0, 0.06);
  --loader: hsl(0 0% 89%);

  background: linear-gradient(
    -75deg,
    transparent 40%,
    var(--loader),
    transparent 60%
  ) 0 0 / 200% 100%,
    var(--block);

  border-radius: calc(var(--padding) * 0.5);
  animation: load 2s infinite linear;
  background-attachment: fixed;
  width: 40px;
  height: 40px;
  border-radius: 2px;
}
