@keyframes load {
  to {
    background-position: 200% 0;
  }
}

.skeleton {
  background:
    linear-gradient(-75deg, transparent 40%, var(--figma-color-bg-tertiary), transparent 60%) 0 0 / 200% 100%,
    var(--figma-color-bg-secondary);
  animation: load 2s infinite linear;
  background-attachment: fixed;
  width: 40px;
  height: 40px;
  border-radius: 2px;
}
