button {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: #fefefe;
  transition: all 0.3s ease;
}

button:hover {
  background: #ccc;
}
