.icon-large svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.icon-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  min-height: 100vh;
}

.chakra-kbd {
  position: relative;
  top: -2px;
}

.icon-list-item:hover svg,
.icon-list-item:focus svg,
.icon-list-item:active svg {
  stroke: white !important;
}

.bg-blurrer {
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(.5rem);
  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.version-badge {
  transition: opacity .15s ease-in-out;
}

.icon-list-item-wrapper:hover .version-badge {
  opacity: 1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background-color: var(--scrollbar-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--scrollbar-color);
}
