.icon-large svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.icon-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  min-height: 100%;
  padding-bottom: 80px;
}

html:has(*:target) {
  scroll-behavior: smooth;
}
