name: Close Issue with Banned Phrases

on:
  issues:
    types: [opened]

jobs:
  block_phrases:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Check for blocked phrases in issue title
        run: |
          ISSUE_TITLE=$(jq -r '.issue.title' "$GITHUB_EVENT_PATH")
          BLOCKED_PHRASES=("twitter" "whatsapp" "logo" "google" "tiktok" "facebook" "slack" "discord" "bluesky" "spotify" "behance" "pix" "x.com" "telegram")

          # Check title and body for blocked phrases
          for PHRASE in "${BLOCKED_PHRASES[@]}"
          do
            if echo "$ISSUE_TITLE" | grep -i "$PHRASE"; then
              gh issue close ${{ github.event.issue.number }} --reason "not planned" --comment "This looks like a duplicate, use the [search](https://github.com/lucide-icons/lucide/issues?q=is%3Aissue+$PHRASE) to find similar issues.

          Read [our official statement about brand logos in Lucide](https://github.com/lucide-icons/lucide/blob/main/BRAND_LOGOS_STATEMENT.md).

          Always happy to help on [Discord](https://discord.gg/EH6nSts)."
              gh issue lock ${{ github.event.issue.number }} --reason spam
              exit 1
            fi
          done
        env:
          GH_TOKEN: ${{ github.token }}
