name: Lucide Angular checks

on:
  pull_request:
    paths:
      - packages/lucide-angular/**
      - tools/build-icons/**
      - pnpm-lock.yaml

jobs:
  lucide-angular:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.8.1
        with:
          node-version: 18
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm --filter lucide-angular build

      - name: Test
        run: pnpm --filter lucide-angular test
