name: Lucide font checks

on:
  pull_request:
    paths:
      - icons/**
      - tools/build-font/**
      - pnpm-lock.yaml

jobs:
  lucide-font:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.8.1
        with:
          node-version: 18
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Outline svg Icons
        run: pnpm build:outline-icons

      - name: Create font in ./lucide-font
        run: pnpm build:font

      - name: "Upload to Artifacts"
        uses: actions/upload-artifact@v1
        with:
          name: lucide-font
          path: lucide-font
